@layer base, utilities, components, layout;

@import 'base/reset.css' layer(base);
@import 'base/variables.css' layer(base);
@import 'base/base.css' layer(base);

@import 'utilities/booking.css' layer(utilities);
@import 'utilities/confirmation.css' layer(utilities);
@import 'utilities/home.css' layer(utilities);
@import 'utilities/route-detail.css' layer(utilities);
@import 'utilities/routes.css' layer(utilities);
@import 'utilities/scenarios.css' layer(utilities);

@import 'components/content-grid.css' layer(components);
@import 'components/columns-grid.css' layer(components);

@import 'layout/all-layouts.css' layer(layout);